<div class="contenedor">

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front n1">
          <p class="title">Aarón</p>
        </div>
        <div class="flip-card-back">
          <p class="title">Luis Aaron Lopez Ramirez</p>
          <p>Hi! I'm Luis Aaron López Ramírez, a Computer Systems Engineering student. My passion lies in the development of web technologies, ranging from simple informative pages to complex enterprise systems. This path has cultivated in me a deep interest in programming and digital solutions.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        </div>
      </div>
    </div>
  
  
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front n2">
          <p class="title">Angel</p>
        </div>
        <div class="flip-card-back">
          <p class="title">Angel Iván Reyes Hernández </p>
          <p>Hello! my name is Ivan and I am a Computer Systems Engineering student. I dedicate most of my time to the development of web technologies, from informative web pages to web-based business systems, which has made me develop a special taste for this area of programming.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        </div>
      </div>
    </div>
  
  

  
  </div>