.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.card{
    margin: 10px;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.card-social a{
    margin-right: 10px;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    color: #343a40;
    margin: 0 15px;
    font-size: 24px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #ffc107;
}

/*  ----------------------------- */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin: 50px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: white;
   
  }
  
  .flip-card-back {
    background-color: #D99543;
    color: white;
    text-shadow: 2px 2px 5px black;
    transform: rotateY(180deg);
  }

  .social-icons{
    text-shadow: none;
  }

  .n1{
    background-image: url("../../../assets/aaron.jpg");
    background-size: cover;
  }

  .n2{
    background-image: url("../../../assets/ivan.jpg");
    background-size: cover;
  }
  
  