<div class="contenedor">

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front n1">
          <p class="title">FLIP CARD</p>
          <p>Hover Me</p>
        </div>
        <div class="flip-card-back">
          <p class="title">Luis Aaron Lopez Ramirez</p>
          <p>¡Hola! Soy Luis Aaron López Ramírez, estudiante de Ingeniería en Sistemas Computacionales. Mi pasión radica en el desarrollo de tecnologías web, abarcando desde simples páginas informativas hasta complejos sistemas empresariales. Este camino ha cultivado en mí un profundo interés por la programación y las soluciones digitales.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        </div>
      </div>
    </div>
  
  
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front n2">
          <p class="title">FLIP CARD</p>
          <p>Hover Me</p>
        </div>
        <div class="flip-card-back">
          <p class="title">Angel Ivan Reyes Hernandez </p>
          <p>Hola! me llamo Ivan y soy estudiante de Ingeniería en Sistemas Computacionales. Dedico gran parte de mi tiempo al desarrollo de tecnologías web, desde páginas web informativas hasta sistemas empresariales basados en web, lo que me me ha hecho que desarrolle un gusto especial por esta área de la programación.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        </div>
      </div>
    </div>
  
  

  
  </div>