<!-- <div class="centrar">
    <label for=""> Selecciona una opcion de proteina </label>
    
    <select  name="" id="">
        <option value="1">Opcion1</option>
        <option value="1">Opcion2</option>
        <option value="1">Opcion3</option>
    </select>

</div> -->

<div class="container mt-4">
    <div class="form-group">
      <label for="categorySelect">Select a category:</label>
      <select id="categorySelect" class="form-control" (change)="onCategoryChange($event)">
        <option value="" disabled selected>Select it here</option>
        @for (category of categories; track category) {
            <option  [value]="category.strCategory">{{ category.strCategory }}</option>
        }
      </select>
    </div>
  @if (meals.length > 0) {

      <div  class="mt-4">
          <h3>Dishes from the "{{ selectedCategory }}" category</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Meal Id</th>
                <th>Dish name</th>
                <th>Dish  Image</th>
            </tr>
        </thead>
        <tbody>
            @for (meal of meals; track meals;let i=$index) {

                @if((i % 2 === 0)){
                    <tr>
                        <td class="impar">{{meal.idMeal}}</td>
                        <td class="impar">{{ meal.strMeal }}</td>
                        <td class="impar"><img [src]="meal.strMealThumb" alt="{{ meal.strMeal }}" class="img-thumbnail" style="width: 100px; height: auto;"></td>
                    </tr>
                }
                @else {
                    <tr>
                        <td class="impar">{{meal.idMeal}}</td>
                        <td class="impar">{{ meal.strMeal }}</td>
                        <td class="impar"><img [src]="meal.strMealThumb" alt="{{ meal.strMeal }}" class="img-thumbnail" style="width: 100px; height: auto;"></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
    }
</div>
  