.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

label{
    color: white;
    font-size: 24px;
}

.container{
    color: white;
}

th{
    background-color: #ff5722;
    color: white;
}


.impar{
    align-items: center;
    background-color: #2d2a2e !important;
    color: white;
}
.par{
    background-color: gray !important;

}