nav{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-attachment: fixed;

}

img{
    width: 140px;
    height: 140px;
}

.botones{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    gap: 10px;
   
}

.boton{
    background-color: #e87d3e ;
    padding: 10px;
    border-radius: 10px;
    color: black
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.shadow-button {
    background-color: #e87d3e; /* Color dorado */
    color: #000; /* Texto negro */
    width: 100px;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .shadow-button:hover {
    background-color: #e6be00; /* Color dorado más oscuro para hover */
  }

  .inicio{
    margin-left: 20px;
  }

  a{
    text-decoration: none;
  }